---
const { title, date, journalLink, journalName, preprintLink, authors } =
    Astro.props;
const displayJournal = journalName ? journalName : "In Review";
---

<article class="bg-red-50 border border-gray-300 px-5 py-2.5 my-2.5 rounded-lg">
    <div class="flex items-center mb-0.5">
        <span class="font-semibold">{title}</span>
    </div>

    <div class="flex items-center mb-0.5">
        <span class="mr-1">{date}</span>·
        {
            journalName ? (
                <a href={journalLink} class="mx-1">
                    {displayJournal}
                </a>
            ) : (
                <span class="italic mx-1">
                    <em>{displayJournal}</em>
                </span>
            )
        } ·
        <a href={preprintLink} target="_blank" class="ml-1"> Preprint </a>
    </div>

    <div class="flex items-center mb-1.5">
        <span>{authors}</span>
    </div>
</article>
