---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;

// Formatting the date in dd/mm/yyyy format
const pubDate = new Date(frontmatter.pubDate);
const formattedDate = pubDate.toLocaleDateString("en-GB", {
    day: "2-digit",
    month: "2-digit",
    year: "numeric",
});
---

<BaseLayout pageTitle={frontmatter.title}>
    <div class="tags">
        {
            frontmatter.tags.map((tag) => (
                <p class="tag">
                    <a href={`/tags/${tag}`}>#{tag}</a>
                </p>
            ))
        }
    </div>
    <p class="date">{formattedDate}</p>

    <img
        src={frontmatter.image.url}
        class="post-image"
        alt={frontmatter.image.alt}
    />

    <div class="content">
        <slot />
    </div>

    <style>
        .tags {
            display: flex;
            justify-content: center;
        }

        .tag {
            font-family: monospace;
            padding: 0.3em 0.7em;
            color: darkcyan;
            transition: color 0.3s ease;
            text-transform: uppercase;
        }

        .tag:hover {
            color: turquoise;
            border-color: turquoise;
        }

        .date {
            text-align: center;
            font-family: monospace;
            color: #777;
            margin-left: auto; /* Ensures the date aligns to the right */
            margin-bottom: 0em;
        }

        .post-image {
            max-width: 100%;
            height: auto;
            border-radius: 8px;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
            margin: 1em auto;
        }

        .content {
            line-height: 1.6;
            font-size: 1em;
            max-width: 700px;
            margin: 20px auto;
        }
    </style>
</BaseLayout>
