---
import BaseLayout from "./BaseLayout.astro";
import Tag from "../components/Tag.astro";
const { frontmatter } = Astro.props;

// Formatting the date in dd/mm/yyyy format
const pubDate = new Date(frontmatter.pubDate);
const formattedDate = pubDate.toLocaleDateString("en-GB", {
    day: "2-digit",
    month: "2-digit",
    year: "numeric",
});
---

<BaseLayout pageTitle={frontmatter.title}>
    <div class="flex justify-center flex-wrap gap-2 mb-4 mt-0">
        {frontmatter.tags.map((tag) => <Tag tagName={tag} />)}
    </div>
    <p class="text-center font-mono text-gray-500 text-sm">
        {formattedDate}
    </p>

    <img
        src={frontmatter.image.url}
        class="max-w-full h-auto rounded-lg shadow-md my-4 mx-auto"
        alt={frontmatter.image.alt}
    />

    <div class="leading-relaxed text-base max-w-3xl mx-auto my-5">
        <slot />
    </div>
</BaseLayout>
