---
import BaseLayout from "./BaseLayout.astro";
import Tag from "../components/Tag.astro";
import Prose from "../components/Prose.astro";
const { frontmatter } = Astro.props;
import "../styles/callout.css";

// Formatting the date in dd/mm/yyyy format
const pubDate = new Date(frontmatter.pubDate);
const formattedDate = pubDate.toLocaleDateString("en-GB", {
    day: "2-digit",
    month: "2-digit",
    year: "numeric",
});
---

<BaseLayout pageTitle={frontmatter.title}>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css"
        integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+"
        crossorigin="anonymous"
    />
    <div class="flex justify-center flex-wrap gap-2 mb-4 mt-0">
        {frontmatter.tags.map((tag) => <Tag tagName={tag} />)}
    </div>
    <p class="text-center text-gray-500 text-sm">
        {formattedDate}
    </p>

    <img
        src={frontmatter.image.url}
        class="max-w-full h-auto rounded-lg shadow-md my-4 mx-auto"
        alt={frontmatter.image.alt}
    />

    <Prose><slot /></Prose>
    <!--<slot />-->
    <style is:global>
        .mjx-container {
            display: inline !important;
        }
    </style>
</BaseLayout>
